@charset "UTF-8";
/* CSS Document */


html, body{
	display: flex;
	background-color: black;
	flex-direction: column;
	color: seashell;
	font-size: 22px;
	font-family: Helvetica;
	opacity: 0.9;
	margin: 0;
	padding: 0;
	align-items: center;
	align-content: center;
	justify-content: center;
	z-index: 0;
}

header{
	display: flex;
	height: 69px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 0px;
	position: fixed;
	top:0px;
	background-color: black;
	max-width: 1300px;
}

img{
	margin: 10px auto;
	height: 200px;
	width: 300px;
}

h2, h4{
	text-align: center;
}

nav{
}

ul{
	list-style: none;
}
span{
	display: inline-flex;
	padding: 10px;
	align-content: center;
	text-decoration: underline;
}

.container{
	margin: 0 0;
	
}


.logo img{
	height: 50px;
	width: auto;
	
}


.jumbotron{
	display: flex;
	height: 700px;
	width: 1200px;
	margin-top: 100px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	
	margin-bottom: 30px;
	
}

.jumbotron h2, h4{
	display: inline-flex;
	width: 1200px;
	justify-content: center;
	margin: 0px;
	padding-bottom: 10px;
	background-color: rgba(0,0,0,0.8);
}

.row{
	display: flex;
	justify-content: center;
}

.tea {
	display: flex;
	height: auto;
	width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
}


.tea h2, h4 {
	display: inline-flex;
	width: 1200px;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.8);
}
.tea h4{
	width: 100%;
}
.image{
    display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	}

.locations{
	display: flex;
	padding-top: 50px;
	height: 500px;
	width: 100%;
	justify-content: center;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.locations h2{
	margin-bottom: 10px;
}
.place{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0,0,0,0.8);
	margin: 15px 20px;
	width: 300px;
}

.footer{
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.copyright {
	width: 100%;
	text-align: left;
	font-size: .75em;
	padding-left: 20px;
}